html {
    overflow: hidden;
}

body {
    background: #363636;
}

#viewer[data-mode="fitdown"] {
    font-size: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#viewer[data-mode="fitdown"] > img {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: inline-block;
    vertical-align: middle;
}

#viewer[data-mode="fitdown"] > .trick {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}